<table class="tg">
  <tr>
    <th class="tg-ojej">No</th>
    <th class="tg-ojej">Name</th>
    <th class="tg-ojej">Score</th>
    <th class="tg-ojej">Recomended<br>Order</th>
    <th class="tg-ojej">Robert</th>
  </tr>
  <tr>
    <td class="tg-ojej">1</td>
    <td class="tg-26ym">Swimming</td>
    <td class="tg-gf16">30</td>
    <td class="tg-k9gz"><ion-input type="number" value="200"></ion-input></td>
    <td class="tg-gf16"><ion-checkbox></ion-checkbox></td>
  </tr>
  <tr>
    <td class="tg-ojej">2</td>
    <td class="tg-26ym">Running</td>
    <td class="tg-gf16">50</td>
    <td class="tg-k9gz"><ion-input type="number" value="1410"></ion-input></td>
    <td class="tg-gf16"><ion-checkbox></ion-checkbox></td>
  </tr>
  <tr>
    <td class="tg-ojej">3</td>
    <td class="tg-26ym">Shooting</td>
    <td class="tg-gf16">7</td>
    <td class="tg-k9gz"><ion-input type="number" value="500"></ion-input></td>
    <td class="tg-gf16"><ion-checkbox></ion-checkbox></td>
  </tr>
  <tr>
    <td class="tg-ojej">4</td>
    <td class="tg-26ym">Swimming</td>
    <td class="tg-gf16">10</td>
    <td class="tg-k9gz"><ion-input type="number" value="200"></ion-input></td>
    <td class="tg-gf16"><ion-checkbox></ion-checkbox></td>
  </tr>
  <tr>
    <td class="tg-ojej">5</td>
    <td class="tg-26ym">Running</td>
    <td class="tg-gf16">153</td>
    <td class="tg-k9gz"><ion-input type="number" value="140"></ion-input></td>
    <td class="tg-gf16"><ion-checkbox></ion-checkbox></td>
  </tr>
  <tr>
    <td class="tg-ojej">6</td>
    <td class="tg-26ym">Shooting</td>
    <td class="tg-gf16">70</td>
    <td class="tg-k9gz"><ion-input type="number" value="500"></ion-input></td>
    <td class="tg-gf16"><ion-checkbox></ion-checkbox></td>
  </tr>
</table>
