<ion-header [translucent]="true">
  <!--ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar-->
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  

<ion-grid>
  <ion-row class="ion-align-items-start">
    <ion-col size-md='6'>
      <ion-item lines='none'>
        <ion-label>Total orders for the sector: 1234</ion-label>
      </ion-item>
      <ion-item  lines='none'>
        <ion-img src="assets/TelAvivAreaMap.PNG"></ion-img>
      </ion-item>
    </ion-col>
    <ion-col size-md='6'>
      <ion-item lines='none'>
        <ion-label>Orders Tabel</ion-label>
      </ion-item>
        <app-table></app-table>
    </ion-col>
  </ion-row>
</ion-grid>





</ion-content>
